/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto&display=swap');

/* website colors */

:root {
    --primary_clr:#F5DEB3;
    --secondary_clr:#8B4513;
    --secondary_link_clr:#CD853F;
    --background_clr:#FFFFFF;
    --text_clr: #000000;
    --btn:#FFFFFF;
}


/* root */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}


/* General style */

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    background-color: var(--background_clr);
    color: var(--text_clr);
    height: 100vh;
    width: 100%;
    position: relative;
}

h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

.title-style {
    background-color: var(--primary_clr);
    margin: 96px 0px 20px 0px;
    padding: 6px 3px;
    text-align: center;
    border-radius: 10px;
}

/* Navigation */

#navbarNav {
    justify-content: flex-end;
    text-transform: uppercase;
}

.navbar {
    background-color: var(--primary_clr);
}

.navbar .navbar-nav a {
    font-weight: 700;
}

.navbar-brand {
    padding: 0px 4px;
}


/* Home Page */

.welcome-note {
    letter-spacing: 1.5px;
    color: var(--text_clr);
}

.hr-line {   
    width: 70%;
    height:6px;
    background-color: var(--secondary_link_clr);
    margin: 20px auto;
 }

.home-callout-container {
    height: 100vh;
    width: 100%;
    background: url('../images/background_hero_image.jpg') bottom right fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .2);
}

.jumbotron h2 {
    color: #FFFFFF;
}

.btn {
    background-color: #55521A;
    border: none;
}

.btn-lg {
    font-size: 25px;
}

.btn-primary {
    color: var(--btn);
    background-color: var(--secondary_clr);
    font-weight: 500;
}

.btn-primary:hover {
    background-color: var(--secondary_link_clr);
}


/* Therapies Page */

.therapies-price {
    color: #880808;
    font-weight: 600;
}


/* Contact Page */
textarea {
    resize: none;
}

#contact {
    padding-bottom: 385px;
}

#email-link a {
    color: var(--text_clr);
}

#email-link a:hover {
    color: var(--secondary_link_clr);
}


/* Footer */

footer {
    bottom: 0px;
    height: 3rem;
    background-color:var(--primary_clr);
    position: fixed;
    margin-top: 45px;
    z-index: 1020;
}

.inline-block {
    display: inline-block;
    margin-top: 8px;
}

.social-networks-links ul {
   list-style: none;
   display: flex;
   justify-content: space-around;
   align-items: center;

}

.social-networks-links li a {
   color:var(--text_clr);
   margin: .2rem;
   padding: .2rem;
   font-size: 1.2rem;
}

.social-networks-links li a:hover {
   color: var(--secondary_link_clr);
}