/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&family=Roboto&display=swap');

/* ------------------------website colors----------------- */
:root {
    --primary--clr:#F5DEB3;
    --secondary--clr:#8B4513;
    --secondary--link--clr:#CD853F;
    --background--clr:#FFFFFF;
    --text--clr: #000000;
    --btn:#FFFFFF;
}

/* ------------------------root----------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}


/* ---------------General style---------------------- */

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    background-color: var(--background--clr);
    color: var(--text--clr);
    height: 100vh;
    width: 100%;
}

h2,
h3 {
    font-family: 'Roboto' sans-serif;
}

.title-style {
    background-color: var(--primary--clr);
    margin: 96px 0px 20px 0px;
    padding: 6px 3px;
    text-align: center;
    border-radius: 10px;
}

/* -------------------Navigation--------------------------*/

#navbarNav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-transform: uppercase;
}

.navbar {
    background-color: var(--primary--clr);
}

.navbar .navbar-nav a {
    font-weight: 700;
}

.navbar-brand {
    padding: 0px 4px;
}

/* -------------------Home Page----------------------- */

.welcome-note {
    letter-spacing: 1.5px;
    color: var(--text--clr);
}

.hr-line {   
    width: 70%;
    height:6px;
    background-color: var(--secondary--link--clr);
    margin: 20px auto;
 }

.home-callout-container {
    height: 100vh;
    width: 100%;
    background: url("/assets/images/background_hero_image.jpg") bottom right fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.jumbotron {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .2);
}

.jumbotron h2 {
    color: #FFFFFF;
}

.btn {
    background-color: #55521A;
    border: none;
}

.btn-lg {
    font-size: 25px;
}

.btn-primary {
    color: var(--btn);
    background-color: var(--secondary--clr);
    font-weight: 500;
}

.btn-primary:hover {
    background-color: var(--secondary--link--clr);
}

/* ------------------Therapies Page-------------------- */

.therapies-price {
    color: #880808;
    font-weight: 600;
}

/* -------------------Contact Page------------------------ */
textarea {
    resize: none;
}

#contact {
    padding-bottom: 385px;

}

/* --------------------Footer------------------------ */
footer {
    bottom: 0px;
    height: 3rem;
    background-color:var(--primary--clr);
    color:var(--heading--h2--h3);
    position: fixed;
    margin-top: 45px;
    z-index: 1020;
}

.inline-block {
    display: inline-block;
    margin-top: 8px;
}

.social-networks-links ul {
   list-style: none;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: space-around;
   -ms-flex-pack: space-around;
   justify-content: space-around;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;

}

.social-networks-links li a {
   color: var(--heading--h2--h3);
   margin: .2rem;
   padding: .2rem;
   font-size: 1.2rem;
}

.social-networks-links li a:hover {
   color: var(--text--clr);
}